<h2>User info</h2>
<div>
  <strong>name: <%= @user.name %></strong>
  <% if @user.image.attached? %>
    <%= image_tag @user.image, class: "profile-image" %>
  <% else %>
    <p>NoImage</p>
  <% end %>
  <p><%= @user.introduction %></p>
</div>

<% if current_user == @user %>
  <%= link_to "Edit", edit_user_path(@user) %>
<% end %>

<h2>Book detail</h2>

<% if @user.books.any? %>
  <ul>
    <% @user.books.each do |book| %>
      <li><%= link_to book.title, book_path(book) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No books found.</p>
<% end %>
