<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <% if user_signed_in? %>
         <%= render "users/user_info", user: current_user %>
        <% end %>
      </div>
      <div class="col-md-9">
        <h2>Editing Book</h2>
        <%= form_with model: @book, url: book_path(@book), method: :patch do |form| %>
          <div>
            <%= form.label :title %>
            <%= form.text_field :title %>
          </div>
          <div>
            <%= form.label :body %>
            <%= form.text_area :body %>
          </div>
          <%= form.submit "Update Book" %>
          <%= link_to "Show", book_path(@book) %> | <%= link_to "Back to Books", books_path %>
        <% end %>
      </div>
    </div>
  </div>