<h2>User info</h2>
<div>
  <strong>name: <%= current_user.name %></strong>
  <% if current_user.image.attached? %>
    <%= image_tag current_user.image, class: "profile-image" %>
  <% else %>
    <p>NoImage</p>
  <% end %>
  <p><%= current_user.introduction %></p>
</div>

<h2>Books</h2>

<% @books.each do |book| %>
  <div>
    <% if book.image.attached? %>
      <%= image_tag book.image, class: "book-image" %>
    <% else %>
      <p>NoImage</p>
    <% end %>
    <h2><%= link_to book.title, book_path(book) %></h2>
    <p><%= book.body %></p>
  </div>
<% end %>