<h2>User info</h2>
<div>
  <strong>name: <%= @user.name %></strong>
  <% if @user.image.attached? %>
    <%= image_tag @user.image, class: "profile-image" %>
  <% else %>
    <p>NoImage</p>
  <% end %>
  <p><%= @user.introduction %></p>
</div>

<h2>Book detail</h2>
<div>
  <p><strong>Title:</strong> <%= @book.title %></p>
  <p><strong>Body:</strong> <%= @book.body %></p>
  <p><strong>投稿者:</strong> <%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>