<%= render "users/user_info", user: @user %>
<%= render "books/new", book: @book_new %>

<h2>Book detail</h2>
<div>
   <p><%= link_to image_tag(@book.user.get_profile_image(100, 100), class: "profile-image"), user_path(@book.user) %></p>
   <p><%= link_to @book.user.name, user_path(@book.user) %></p>
   <li><%= link_to @book.title, book_path(@book) %></li>
   <p><%= @book.body %></p>


  <% if current_user == @book.user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>


</div>